body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh; /* Visina ekrana */
    background-image: url('pozadina.jpg');
    background-size: cover; /* Pokriva ceo ekran */
    background-attachment: fixed; /* Fiksira pozadinsku sliku */
    background-position: center; /* Centriranje slike */
    background-repeat: no-repeat; /* Bez ponavljanja slike */
}
.left-side {
    width: 15%; /* Širina leve strane */
    background-color: black; /* Boja pozadine leve strane */
    display: flex;
    flex-direction: column; /* Kolone za svaki pravougaonik */
    align-items: center;
    justify-content: space-around; /* Raspodela prostora između pravougaonika */
    color: white; /* Boja teksta */
    padding: 1px 0; /* Gornji i donji padding */
}
.action-box {
    width: 80%; /* Širina pravougaonika */
    height: 80px; /* Visina pravougaonika */
    background-color: black; /* Boja pravougaonika */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Razmak između pravougaonika */
    transition: all 0.3s ease; /* Dodajemo animaciju prelaska */
}
.action-box img {
    max-width: 100%; /* Osigurava da slika ne prelazi širinu pravougaonika */
    max-height: 100%; /* Osigurava da slika ne prelazi visinu pravougaonika */
}
.action-box:hover {
    width: 90%; /* Promena širine pravougaonika na hover */
    height: 50px; /* Promena visine pravougaonika na hover */
    background-color: #333; /* Promena boje pravougaonika na hover */
    font-size: 18px; /* Promena veličine fonta na hover */
    cursor: pointer; /* Promena kursora na hover */
}
.right-side-container {
    width: 85%; /* Širina desne strane */
    overflow-x: auto; /* Omogućava horizontalno skrolovanje */
    white-space: nowrap; /* Osigurava da se slike ne prelaze u novi red */
    padding: 20px; /* Dodajemo malo prostora oko pravougaonika */
    position: relative; /* Da bismo mogli postaviti tražilicu */
}
.search-container {
    width: 80%; /* Širina tražilice */
    position: fixed; /* Fiksni položaj */
    top: 0; /* Na vrhu stranice */
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px; /* Smanjili smo padding */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.search-container input {
    width: calc(100% - 80px); /* Širina input polja minus širina dugmeta */
    padding: 3px 7px; /* Smanjili smo padding */
    font-size: 14px; /* Smanjili smo veličinu fonta */
}
.search-container button {
    width: 60px;
    margin-left: 10px;
    padding: 3px; /* Smanjili smo padding */
    font-size: 14px; /* Smanjili smo veličinu fonta */
    cursor: pointer;
}
.right-side {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Raspodela prostora između pravougaonika */
    flex-wrap: wrap; /* Omogućava da se pravougaonici prelaze u novi red */
    max-width: 100%; /* Sve dok su u redu, neka zauzmu maksimalnu širinu */
    padding-top: 70px; /* Dovoljno prostora za fiksnu tražilicu */
}
.rectangle {
    width: calc(16.67% - 20px); /* Širina pravougaonika u odnosu na širinu stranice i razmak */
    height: auto; /* Visina pravougaonika automatski */
    background-color: blue; /* Boja pravougaonika */
    margin-bottom: 10px; /* Razmak između pravougaonika */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.rectangle img {
    max-width: 100%; /* Osigurava da slika ne prelazi širinu pravougaonika */
    max-height: 100%; /* Osigurava da slika ne prelazi visinu pravougaonika */
    transition: transform 0.3s ease; /* Dodajemo animaciju prelaska */
}
.rectangle:hover img {
    transform: scale(1.25); /* Povećava sliku za 25% kada se pređe mišem */
}
.highlight {
    border: 10px solid yellow; /* Podebljali smo žuti okvir */
}
